.tree-node:hover {
    background-color: blanchedalmond;
    cursor: pointer;
}

.navigate-to-page:hover {
    color: red;
    font-weight: bold;
}

.focus-this-node:hover {
    color: red;
    font-weight: bold;
}