.tree-node:hover {
    background-color: blanchedalmond;
    cursor: pointer;
}

.selection-title:hover {
    background-color: yellow;
}

.red-and-bold-on-hover:hover {
    color: red;
    font-weight: bold;
}